@import '../../css/vars';
@import '../../css/colors';
@import '../../css/mixins/block';
@import '../../css/mixins/media';

.promo-block {
    &__header {
        @include header;
        text-align: left;
        margin: 0;
        margin-bottom: 20px;
    }

    &__sub-header {
        @include sub-header;
        text-align: left;
    }

    &__button {
        margin-top: 30px;
        @include from-sm-width {
            margin-top: 60px;
        }
        @include from-md-width {
            margin-top: 60px;
        }
    }
}