.platforms {
  margin: 30px 0;
  display: flex;
}

.platform-item {
  color: currentColor;
  cursor: pointer;

  &.-inactive {
    opacity: 0.5;
    cursor: default;
  }

  & + & {
    margin-left: 24px;
  }

  &__icon {
    transition: all 0.2s;
    width: 20px;
    height: 20px;
    fill: currentColor;
    display: block;
  }

  &:hover:not(.-inactive) &__icon {
    fill: $color-primary;
  }
}