{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current",
                    "uglify": true
                }
            }
        ],
        "@babel/preset-react"
    ],
    "retainLines": true,
    "plugins": [
        "inline-react-svg",
        "dynamic-import-node",
        "transform-decorators-legacy",
        "transform-class-properties"
    ]
}