.home {
  color: #2a2a2a;
}

.main-layout {
  &.-is-blocked-scroll {
    max-height: 100vh;
    overflow: hidden;
  }
}


.main-content {
  &__logo {
    position: fixed;
    z-index: 50;
    top: 33px;
    left: 120px;
    height: 9px;
    width: 110px;
  }
}