@import '../../css/vars';
@import '../../css/colors';

.carousel-stub {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    padding-bottom: 90px;

    & > * {
        min-width: 320px;
    }
}