@import '../../css/vars';
@import '../../css/colors';

@import './slick';

.carousel {
    padding-bottom: 90px;

    .slick-slide {
        transform: scale(0.9);
        opacity: 0.8;
        transition: transform ease $dur,
                    opacity ease $dur;
    }

    .slick-center {
        transform: scale(1);
        opacity: 1;
        transition-duration: $dur-fast, $dur-fast;
    }

    .slick-prev,
    .slick-next {
        display: flex;
        position: absolute;
        bottom: -50px;
        height: 10px;
        width: 46px;
        cursor: pointer;
    }

    .slick-arrow {
        background-image: url('images/arrow-left.png');
    }

    .slick-prev {
        left: calc(50% - 46px - 25px);
    }

    .slick-next {
        right: calc(50% - 46px - 25px);
        transform: rotate(180deg);
    }

}

