.slide-sticky-roadmap {

}

.roadmap {
  position: relative;
  margin-left: 20px;
  padding-top: 30px;

  @include from-width(768px) {
    margin-left: 160px;
    height: 100vh;
    padding-top: 50px;
  }

  &:after {
    position: absolute;
    content: '';

    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background: $color-text-secondary;
    z-index: 1;
  }

  &-segment {
    min-height: 120px;
    margin-bottom: 20px;

    &__label {
      font-weight: 600;
      font-size: 14px;
      color: $color-text-dark;
      padding: 0 0 0 27px;
      &:after, &:before {
        position: absolute;
        content: '';
        box-sizing: border-box;
      }

      &:after {
        z-index: 2;
        width: 29px;
        height: 29px;
        border: 3px solid $color-primary;
        left: -13px;
        top: -6px;
        border-radius: 29px;
        background: white;
      }

      &:before {
        z-index: 3;
        width: 9px;
        height: 9px;
        background: $color-primary;
        left: -3px;
        top: 4px;
        border-radius: 9px;
      }
    }
  }

  &-points {
  }

  &-point {
    line-height: 1.57;
    margin: 10px 0;
    padding: 0 0 0 18px;

    &:after {
      position: absolute;
      content: '';
      height: 3px;
      width: 9px;
      left: 0;
      top: 12px;
      background: $color-text-secondary;
      border-radius: 3px;
    }

    &__label {
      font-weight: 500;
      font-size: 12px;
      color: $color-text-main;
    }

    &__current-label {
      position: absolute;
      width: 100px;
      font-size: 12px;
      font-weight: 500;
      color: $color-secondary;
      left: -115px;
      vertical-align: middle;
      line-height: 20px;
      top: 3px;

      &-icon {
        fill: currentColor;
        vertical-align: middle;
        margin-left: 8px;
      }
    }
  }
}