@import '../../css/vars';
@import '../../css/colors';
@import '../../css/mixins/media';

.horizontal-menu {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    padding: 1rem 0;
    margin: 0;

    &__item {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-right: 40px;
            @include from-md-width {
                margin-right: 50px;
            }
        }
    }
}
